*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #F4F5FB;
}

.logo{
    text-align: center;
    margin-top: 25px;
}

.back{
    margin-left: 369px;
    margin-top: 62px;
}

h1{
    margin-left: 369px;
    margin-top: 21px;
}

#input-btn{
    display: flex;
    margin-top: 39px;
    justify-content: center;
    gap: 16px;
}

#addItem{
   
    padding-right: 261px;
    border-radius: 12px;
    padding-block: 11px;
    border-color: #B9C2D0;
    padding-left: 18px;
}

#btn{
    
    border-radius: 12px;
    padding: 12px 24px; 
    color: #fff;  
    background-color: #CA3884;
    border: none;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputs li{
    list-style-type: none;
    background-color: #fff;
    border-radius: 12px;
    width: 500px;
    margin-left: 369px;
    margin-top: 40px;
    padding-right: 369px;
    padding-block: 10px;
    margin: 40px auto auto auto;
}